<div class="container-fluid vh-100 d-flex flex-column align-items-center justify-content-center">
  <div class="row w-100 justify-content-center">
    <div class="mt-5" style="border: 1px solid gray; border-radius: 10px; padding: 20px; width: 80%; height: 80%; position: absolute; top: 0; left: 270px; transform-origin: top left;">
      <h2 class="text-left ml-3">Information</h2>
      <% if @informations.any? %>
        <ul class="list-group mt-3">
          <% @informations.each do |info| %>
            <li class="list-group-item">
              <p><%= info.message %></p>
              <div class="btn-group" role="group">
                <%= link_to '編集', edit_information_path(info), class: 'btn btn-primary btn-sm' %>
                <span class="px-2">|</span>
                <%= button_to '削除', information_path(info), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="mt-3 ml-3">現在お知らせはありません</p>
      <% end %>
    </div>
  </div>
</div>
