<div id="flash-messages">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert" id="flash-message-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
</div>
